MONITOR_API_KEY=300664_mymonitorlongapikey
MONITOR_DATABASE_URL=sqlite:////data/monitor.db
MONITOR_TELEGRAM_BOT_TOKEN=8855552265:AAFqhSzXM_8Z9Bj72DAfoVu1NN5o8lwIEW8
MONITOR_TELEGRAM_CHAT_ID=8655503365
MONITOR_ALERT_COOLDOWN_MINUTES=60
MONITOR_RULES_FILE=/app/server/rules.yaml
MONITOR_API_URL=http://api:8000